<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3.1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>Archetype Created Web Application</display-name>

	<absolute-orderging />

<!-- Listener 설정 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/root-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc-demo-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet>
		<servlet-name>invoker</servlet-name>
		<servlet-class>org.apache.catalina.servlets.InvokerServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
	</servlet>
    
<!-- 커스텀 서블렛 -->
    <servlet>
		<servlet-name>testServlet</servlet-name>
		<display-name>testServlet</display-name>
		<servlet-class>com.seol.testProject.servlet.testServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>invoker</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/output</url-pattern>
	</servlet-mapping>
    

	<!-- Filter 설정 -->
	<filter>
		<filter-name>Encoding Filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Encoding Filter</filter-name>
		<servlet-name>action</servlet-name>
	</filter-mapping>
	
	<!-- spring security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>	
	</filter-mapping>
	<!--  // spring security -->
	
	<!-- Filter의 servlet  -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
    
    
    <!-- 커스텀 필터 -->
	<filter>
		<filter-name>testFilter</filter-name>
		<display-name>testFilter</display-name>
		<filter-class>com.seol.testProject.filter.testFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>testFilter2</filter-name>
		<display-name>testFilter2</display-name>
		<filter-class>com.seol.testProject.filter.testFilter2</filter-class>
	</filter>
    
    <filter-mapping>
		<filter-name>testFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>testFilter2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 세션기간설정 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- 404에러 시 처리 페이지 설정 -->
	<error-page>
		<error-code>404</error-code>
		<location>/view/404.jsp</location>
	</error-page>

	<!-- NullPointerException 발생시 처리 페이지 설정-->
	<error-page>
		<exeption-type>java.lang.NullPointerException</exeption-type>
		<location>/view/null.jsp</location>
	</error-page>

	<!-- 시작페이지 설정 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>