<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.WordsDAO">
	
	<select id="getAllWordsList" resultType="com.example.demo.dto.Word">
		SELECT * FROM words
	</select>
	
	<select id="getPopularWordsList" resultType="com.example.demo.dto.Word">
		SELECT * FROM words ORDER BY viewcount DESC LIMIT 5
	</select>
	
	<select id="getNewestWordsList" resultType="com.example.demo.dto.Word">
		SELECT * FROM words ORDER BY written_date DESC LIMIT 5
	</select>
	
	<select id="getWordById" parameterType="int" resultType="com.example.demo.dto.Word">
		SELECT * FROM words WHERE word_id = #{word_id}
	</select>
	
	<select id="getWordsByWriterId" parameterType="String" resultType="com.example.demo.dto.Word">
		SELECT * FROM words WHERE writer_id = #{writer_id}
	</select>
	
	<select id="getWordsByName" parameterType="String" resultType="com.example.demo.dto.Word">
		SELECT * FROM words WHERE name LIKE CONCAT('%', #{name}, '%')
	</select>
	
	<insert id="addWord"
	parameterType="com.example.demo.dto.Word"
	useGeneratedKeys="true" keyProperty="word_id">>
		INSERT INTO
			words (name, description, writer_id)
		VALUES
			(#{name}, #{description}, #{writer_id})		
	</insert>

	<update id="updateWord">
		UPDATE
		    words
		SET
		    name = #{word.name}, description= #{word.description}
		WHERE
		    word_id = #{word_id}
	</update>

	<delete id="deleteWord" parameterType="int">
	    DELETE FROM
	        words
	    WHERE
	        word_id = #{word_id}
	</delete>
</mapper>