<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.WordsDAO">
	
	<select id="getAllWordList" resultType="com.example.demo.dto.Word">
		SELECT * FROM words
	</select>
	
	<select id="getWordById" parameterType="int" resultType="com.example.demo.dto.Word">
		SELECT * FROM words WHERE word_id = #{word_id}
	</select>
	
	<select id="getWordsByWriterId" parameterType="String" resultType="com.example.demo.dto.Word">
		SELECT * FROM words WHERE writer_id = #{writer_id}
	</select>
	
	<select id="getWordsByName" parameterType="String" resultType="com.example.demo.dto.Word">
		SELECT * FROM words WHERE name LIKE '%#{writer_id}%'
	</select>
	
	<insert id="addWord" parameterType="com.example.demo.dto.Word">
		INSERT INTO
			members (name, title, description, writer_id)
		VALUES
			(#{name}, #{title}, #{description}, #{writer_id})		
	</insert>

	<update id="updateWord">
		UPDATE
		    members
		SET
		    name = #{word.name}, title = #{word.title}, description= #{word.description}
		WHERE
		    word_id = #{word_id}
	</update>

	<delete id="deleteWord" parameterType="int">
	    DELETE FROM
	        words
	    WHERE
	        word_id = #{word_id}
	</delete>
</mapper>